@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    touch-action: none;
}

body {
    margin: 0;
    background-image: url("person_laptop.jpg");
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    --red: rgb(158, 7, 7);
    --yellow: rgb(241, 179, 7);
    --plain: #fffef8;
    --black: #252525;
    font-family: "Archivo Black";
}

body {
    background-position-x: -240vw;
    background-position-y: -20vh;
}

nav {
    width: 100vw;
    border-bottom: 8px solid var(--red);
    z-index: 1;
}

#nav-controller {
    padding: 1.2em 1.2em 1.2em 1em;
    font-size: 20px;
    width: 1px;
}

#nav-content {
    display: none;
}

.flex-container {
    display: flex;
    flex-flow: column nowrap;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -25vw;
    bottom: -75vw;
    border: 75vw solid var(--yellow);
    border-radius: 100%;
    margin: 0;
    height: 0;
    width: 0;
    font-size: 9vw;
}

.circle > ul {
    position: relative;
    bottom: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.circle > ul > li > p {
    margin: 0.15em;
    font-family: "Archivo Black";
}

.circle > ul > li > p > a {
    text-decoration: none;
    color: var(--red);
}

.circle-container {
    flex-basis: 100vw;
    flex-grow: 0;
    height: 100vh;
}

.title {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--red);
    font-size: 9vw;
    padding: 0.2em;
    font-family: "Alfa Slab One";
    font-weight: lighter;
}

@media only screen and (min-width: 768px) {
    body {
        background-position-x: -40vw;
        background-position-y: -15vh;
    }

    nav {
        position: absolute;
    }

    #nav-controller {
        display: none;
    }

    #nav-content {
        display: block;
    }
    
    .flex-container {
        display: flex;
        flex-flow: row nowrap;
    }
    
    .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: -50vh;
        bottom: -25vh;
        border: 75vh solid var(--yellow);
        border-radius: 100%;
        margin: 0;
        height: 0;
        width: 0;
        font-size: 6vh;
    }
    
    .circle > ul {
        position: relative;
        top: 0;
        right: 200px;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .circle > ul > li > p {
        margin: 0.15em;
        font-family: "Archivo Black";
    }
    
    .circle > ul > li > p > a {
        text-decoration: none;
        color: var(--red);
    }
    
    .circle-container {
        flex-basis: 100vh;
        flex-grow: 0;
        height: 100vh;
    }
    
    .title {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        color: var(--red);
        font-size: 5vh;
        font-family: "Alfa Slab One";
        font-weight: lighter;
    }
}