* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url("person_laptop.jpg");
    background-size: contain;
    background-attachment: fixed;
    background-position-x: -520px;
    background-repeat: no-repeat;
    overflow: hidden;
}

.flex-container {
    flex-flow: row nowrap;
}

.circle {
    display: flex;
    flex-basis: 50%;
    position: relative;
    bottom: 25vh;
    left: 25vh;
    border: 75vh solid rgb(241, 179, 7);
    border-radius: 100%;
    margin: 0;
    height: 0;
    align-items: center;
    font-size: 7vh;
}

.circle > ul {
    position: relative;
    right: 200px;
    list-style: none;
    padding: 0;
}

.circle > ul > li > p {
    margin: 0.2em;
}

.circle > ul > li > p > a {
    text-decoration: none;
    color: rgb(158, 7, 7);
}

.title {
    display: flex;
    flex-basis: 50%;
    align-items: center;
    font-size: 50px;
    border: 20px solid black;
}