@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
    color: var(--black);
    --red: rgb(196, 8, 8);
    --border-red: rgb(158, 7, 7);
    --yellow: rgb(241, 225, 7);
    --plain: #fffef8;
    --black: #252525;
    font-family: "Archivo Black";
}

#nav-controller {
    padding: 1.2em 1.2em 1.2em 1em;
    font-size: 20px;
    width: 1px;
} 

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-top: 8px solid var(--border-red);
}

#header-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--plain);
    width: 85vw;
    height: 85vw;
    border-radius: 100%;
}

#header-image {
    position: absolute;
    background-image: url(person_laptop.jpg);
    background-size: cover;
    width: 100vw;
    height: 120vh;
    z-index: -1;
    filter: blur(5px);
}

h1 {
    margin: 0;
    font-size: 40px;
    font-family: "Alfa Slab One";
    text-decoration: underline;
    text-decoration-color: var(--red);
}

#header-container small {
    font-size: 18px;
    font-family: "Archivo Black";
    text-decoration: underline;
    text-decoration-color: var(--yellow);
}

h1, #header-container small {
    text-decoration-thickness: 0.13em;
    text-underline-offset: 0.15em;
}

main {
    background-color: var(--plain);
}

p {
    font-size: 20px;
    font-family: "Archivo Black";
    margin: 0 2em;
    padding: 1.5em 0;
    text-align: center;
}

main p:not(:last-child) {
    border-bottom: 5px solid var(--red);
}

@media only screen and (min-width: 768px) {
    #nav-controller {
        display: none;
    }

    #header-container {
        width: 80vh;
        height: 80vh;
    }

    h1 {
        font-size: 60px;
    }

    #header-container small {
        font-size: 24px;
    }

    p {
        font-size: 24px;
        margin: 0 8em;
        padding: 2.75em 0;
    }
}