@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Archivo Black";
    margin: 0;
    --red: rgb(158, 7, 7);
    --yellow: rgb(241, 225, 7);
    --plain: #fffef8;
    background-color: var(--plain);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Alfa Slab One";
    border-bottom: 8px solid var(--yellow);
    background-color: transparent;
}

#header-image {
    position: absolute;
    width: 100%;
    height: 300px;
    background-image: url(office_meeting.jpg);
    z-index: -1;
    filter: blur(3px);
}

aside {
    flex-basis: 33%;
}

aside > p {
    font-size: 24px;
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex-basis: 67%;
}

h1 {
    width: 100%;
    margin: 0.75em 0;
    padding: 0.2em;
    font-size: 64px;
    background-color: var(--plain);
    color: var(--red)
}

h2 {
    margin: 0;
    font-family: "Alfa Slab One";
    font-size: 42px;
    color: var(--red);
}

p {
    margin: 0;
    padding: 0 2em;
}

#gallery-container {
    margin-top: 0.6em;
    border: 4px solid var(--red);
    border-radius: 20px;
}

#gallery-container table {
    border-collapse: collapse;
}

#gallery-container tr:nth-child(2) td {
    text-align: center;
    padding: 0.35em;
    text-decoration: underline;
    text-decoration-color: var(--yellow);
    text-decoration-thickness: 0.2em;
    text-underline-offset: 0.2em;
}

#gallery-container td {
    border: 3px solid black;
    padding: 0;
}

#content-container {
    border-top: 8px solid var(--red);
    display: flex;
    flex-flow: row nowrap;
    padding-top: 48px;
    background-color: var(--plain);
}

.gallery-row {
    display: flex;
    flex-flow: row nowrap;
}

.gallery-item {
    padding: 10px;
}

.gallery-item img {
    width: 300px;
    height: 300px;
    margin: 0;
    padding: 0;
}